body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #032B44; 
    color: white;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-evenly;
    padding-bottom: 25px;
    gap: 50px;
}

button {
    background-color: rgb(78, 218, 218);
    padding: 8px 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    justify-content: center;
    
}

.pixel {
    margin: 0;
    padding: 0;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    transition: background-color 0.15s ease-in-out;
    background-color: white;

}



